*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    
    background-image: url("car.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
   background:#000;
}

h2{
    background: -webkit-linear-gradient(
         -225deg,
         #231557 0%,
         #44107a 29%,
         #ff1361 67%,
         #fff800 100%
          );
    background-clip: border-box;
     -webkit-background-clip: text;
     -webkit-text-fill-color:transparent;
}

header ul{
    list-style: none;
    display: flex;
}
header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

header ul li:hover{
    background: linear-gradient(#cc66ff,#f4f4f4);
    color:#000;
}

header ul li:nth-child(1){
    border-top: 4px solid #cc33ff;
}

header ul li:nth-child(2){
    border-top: 4px solid #cc33ff;
}

header ul li:nth-child(3){
    border-top: 4px solid #cc33ff;
}

header ul li:nth-child(4){
    border-top: 4px solid #cc33ff;
}

main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

main p{
    width: 700px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    background-color: #000;
    color: white;
    border-radius: 20px;
    
     
}
button{
    background: linear-gradient(#ff666610,#f4f4f400);
    font-size: large;
    width:200px;
    height: 100px;
    border-radius: 100%;
    
}

h3{
    background: -webkit-linear-gradient(
        -225deg,
        #545715 20%,
        #0d091188 100%,
        #ff13132f 100%,
        #005eff4b 100%
         );
   background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.button-56 {
  align-items: center;
  background-color: salmon;
  border: 2px solid rgb(17, 17, 17);
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.game{
    font-size: large;
    background-color: linear-gradient(#ff8766,#f4f4f41d);
    text-decoration: none;
    text-align: center;
}
